body {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
    color: white;
    text-align: center;
    padding: 1em 2em;
}


.date-range {
    text-align: center;
}

.start-date, .end-date {
    margin: 0.2em 0.5em;
    padding: 0.5em;
}

.btn-fetch-data {
    border: none;
    border-radius: 5px;
    width: 10em;
    height: 2.5em;
    font-weight: bold;
    margin-top: 1em;
}

.date-error {
    color: red;
    font-weight: bold;
    text-align: center;
}

.api {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 25px;
    text-align: center;
}

.api-card {
    background: white;
    margin: 10px 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.api-card img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}